body {
  margin: 0px;
  background-color: rgb(255, 253, 255);
  font-family: 'arimo', sans-serif;
}

.cima {
  width: 100%;
  background-color: rgba(248, 171, 171, 0.911);
  margin: 0px;
  border: none;

}

.div1{
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: center;
}

.imgfinal{
  width: 200px;
  height: 150px;
}

.divlist{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 24px;
  gap: 24px;
}

.divlist div{
  background-color: rgb(204, 166, 139);
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.div1 img{
  width: 400px;
  height: auto;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 12px 12px 12px rgba(78, 69, 69, 0.2);
}
h1 {
  margin-top: 0;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

h2 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

h4 {
  text-align: center;
  font-size: 30px;
  margin-top: 28px;
}

head {
  margin: 0px;
}

.video {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.videoo {
  background-color: rgb(204, 166, 139);
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 24px 24px 24px rgba(179, 25, 25, 0.2);
}